.quicksand {font-family: 'Quicksand', sans-serif;}

.nskr {font-family: 'Noto Sans KR', sans-serif;}

.initial-font {font-family: 'initial'}

a:hover {color: rgba(0,0,0,1) !important;}
.topic a {color:black; text-decoration:none;}
nav a{color: rgba(0,0,0,.7) !important;}

.fr {float: right;}
.fl {float: left;}

.unit-box-1 {border : 3px solid #0d6efd; }
.unit-body-1 {border : 1px solid #0d6efd; background-color : #ECFAFF; }
.unit-body-1:hover {background-color : #B0EAFF;}
.unit-box-2 {border : 3px solid #198754; }
.unit-body-2 {border : 1px solid #198754; background-color : #DFFEDC;}
.unit-body-2:hover {background-color : #B8FFB0;}
.unit-box-3 {border : 3px solid #ffc107; }
.unit-body-3 {border : 1px solid #ffc107; background-color : #FDFEDC;}
.unit-body-3:hover {background-color : #FDFFAE;}
.unit-box-4 {border : 3px solid #dc3545; }
.unit-body-4 {border : 1px solid #dc3545; background-color : #FFDADA;}
.unit-body-4:hover {background-color : #FFB0B0;}
.unit-box-5 {border : 3px solid #6c757d; }
.unit-body-5 {border : 1px solid #6c757d; background-color : #e9ecef;}
.unit-body-5:hover {background-color : #ced4da;}

.fclear:after {
    clear: both;
    display: block;
    visibility: hidden;
    content:"";
}

.dropdown-menu {min-width:100%}

.f13{font-size: 13px}

.w15{margin: 0 auto; width:15%;}
.w20{margin: 0 auto; width:20%;}
.w30{margin: 0 auto; width:30%;}
.w30{margin: 0 auto; width:40%;}
.w45{margin: 0 auto; width:45%;}
.w50{margin: 0 auto; width:50%;}
.w50{margin: 0 auto; width:60%;}
.w70{margin: 0 auto; width:70%;}
.w80{margin: 0 auto; width:80%;}
.w90{margin: 0 auto; width:90%;}
.w100{margin: 0 auto; width:100%;}