* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 5px;
}

body {
  margin: 0;
}

.logo {
    margin-top: 0px;
    margin-bottom: 20px;
}

.login-form {
    width: 400px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border: none;
}

.text-field {
      font-size: 14px;
      padding: 10px;
      border: none;
      width: 260px;
      margin-bottom: 10px;

}

.submit-btn {
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 260px;
  background-color: #1BBC9B;
  margin-bottom: 10px;
  color: white;
}

.join-btn {
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 260px;
  background-color: #f0c91d;
  margin-bottom: 30px;
  color: white;
  border-radius: 5px;
}

.links {
    text-align: center;
}

.links a {
  font-size: 12px;
  color: #9B9B9B;
}