<!DOCTYPE html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="/login/css/common.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<div class="container">
    <div class="col-lg-4" style="padding:20px; text-align: center; margin: 0 auto;">
        <form name="joinForm">
            <h2 style="text-align:center;">회원가입</h2>
            <div class ="mb-3">
                <input type ="text" class="form-control" placeholder="아이디" name ="userId" maxlength='20' onkeyup="checkEnter(event)">
                <p style="text-align:left; color:red"></p>
            </div>

            <div class ="mb-3">
                <input type ="password" class="form-control" placeholder="비밀번호" name ="password" maxlength='20' onkeyup="checkEnter(event)">
                <p style="text-align:left; color:red"></p>
            </div>

            <div class ="mb-3">
                <input type ="text" class="form-control" placeholder="이름" name ="userName" maxlength='20' onkeyup="checkEnter(event)">
            </div>

            <div class ="mb-3">
                <input type="tel" class="form-control" placeholder="전화번호" name="phone" maxlength="20" onkeyup="checkEnter(event)">
            </div>

            <div class ="mb-3">
                <input type ="email" class="form-control" placeholder="이메일" name ="eMail" maxlength='20' onkeyup="checkEnter(event)">
            </div>

            <div class ="mb-3">
                <input type ="email" class="form-control" placeholder="카카오 계정 ID" name ="kaKaoId" maxlength='20' onkeyup="checkEnter(event)">
            </div>

            <input type="button" class="btn btn-primary form-control" value="회원가입" onclick="sub()">
        </form>


    </div>
</div>

<script>
    function checkEnter(event) {
            if (event.keyCode === 13) {
                sub();
            }
        }

    function sub(){
        let formData = $("form[name=joinForm]").serialize();

        console.log(formData);

        $.ajax({
                url : '/join/action',
                type : 'POST',
                data : formData,
                dataType: 'json',
                success : function(result) {
                    location.href = "/login";
                },
                error:function(error){
                    if(error.responseJSON.msg){
                        alert(error.responseJSON.msg);
                    }

                    if (error.responseJSON) {
                        if (error.responseJSON.pw_error) {  // 비밀번호 에러가 발생할 경우 출력
                            $("input[name='password']").siblings("p").text(error.responseJSON.pw_error);
                        }else {
                            $("input[name='password']").siblings("p").empty();
                        }

                        if (error.responseJSON.id_error) {  // id 에러가 발생할 경우 출력
                            $("input[name='userId']").siblings("p").text(error.responseJSON.id_error);
                        }else {
                            $("input[name='userId']").siblings("p").empty();
                        }
                    }

                }
            });
    }

</script>